//CONTAINER GENERAL
.containerGeneral{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background-image: url('https://proyecto-dragon-ball.s3.eu-west-3.amazonaws.com/utils/espacio.jpg');
}
// CARD PLANETS
.cardPlanet{
width: 300px;
text-align: center;
border: black solid 2px;
border-radius: 13px;
margin: 10px;
}

.namePlanet{
font-size: 15px;
color: #ffea32;
text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000,
  2px -2px 1px #000;
background: linear-gradient(
  to bottom,
  rgb(2, 2, 2),
  rgb(78, 78, 78),
  rgba(170, 170, 170)
);
font-weight: bold;
padding: 12px;
letter-spacing: 1px;
word-spacing: 1px;
margin: 0px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.planetImg{
width: 100%;
height: 300px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
a{
  text-decoration: none;
}
