<div class="navbar-container">
  <button [routerLinkActive]="['active']" [routerLink]="option.url" class="options-class" *ngFor="let option of menuList;let index = index; let isFirst = first">{{option.label}}</button>
  <a class="homeLink" routerLink="/inicio"><img class="home-button" src="https://proyecto-dragon-ball.s3.eu-west-3.amazonaws.com/utils/home.png"><h3>Kame Home</h3></a>
</div>
<div class="falseBorderBottom"></div>
