<app-nav-bar></app-nav-bar>
<div class="container-general">
  <div class="widow-top"></div>
  <div class="container-form">
    <form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <legend class="tittle-form">CREA TU GUERRERO</legend>
        <br>
        <label for="name">Nombre: </label>
        <br>
        <input id="name" formControlName="name" type="text" />
        <br>
        <span class="error" *ngIf="subbmited && userForm.get('name')?.errors"
          >*El campo es requerido y tiene que estar comprendido entre 3 y 12
          caracteres</span>
        <br>
        <label for="age">Edad: </label>
        <br>
        <input id="age" formControlName="age" type="text" />
        <br>
        <span class="error" *ngIf="subbmited && userForm.get('age')?.errors"
          >*Este campo es requerido</span
        >
        <br>
        <label for="raza">Raza: </label>
        <br>
        <select id="raza" formControlName="race" name="race">
          <option value=""></option>
          <option value="saiayin">Saiayin</option>
          <option value="terricola">Terricola</option>
          <option value="namekianos">Namekianos</option>
          <option value="dios de la destruccion">Dios de la destruccion</option>
          <option value="shin-jin">Shin-Jin</option>
          <option value="angel">Angel</option>
          <option value="androide">Androide</option>
        </select>
        <br>
        <span class="error" *ngIf="subbmited && userForm.get('race')?.errors"
          >*Este campo es requerido</span
        >
        <br>
        <label for="email">Email: </label>
        <br>
        <input id="email" formControlName="email" type="email" />
        <br>
        <span class="error" *ngIf="subbmited && userForm.get('email')?.errors"
          >*Este campo es requerido</span
        >
        <br>
        <label for="pass">Contraseña: </label>
        <br>
        <input id="pass" formControlName="pass" type="password" />
        <br>
        <span class="error" *ngIf="subbmited && userForm.get('pass')?.errors"
          >*El campo es requerido y tiene que estar comprendido entre 8 y 12
          caracteres</span
        >
        <br>
        <label for="repPass">Confirma tu contraseña: </label>
        <br>
        <input id="repPass" formControlName="repPass" type="password" />
        <br>
        <span class="error"
          *ngIf="subbmited && userForm.get('repPass')?.errors?.['minlength'] || userForm.get('repPass')?.errors?.['maxlength']"
          >*El campo es requerido y tiene que estar comprendido entre 8 y 12
          caracteres</span
        >
        <span class="error"
          *ngIf="subbmited && userForm.get('repPass')?.errors?.['mustMatch'] "
          >*Las contraseñas no coinciden</span
        >
        <br>
        <button class="btn-warrior-z" type="submit">Generar Guerrero Z</button>
      </fieldset>
      <p class="error" *ngIf="subbmited && !this.userForm.valid">
        Existen errores en el formulario
      </p>
    </form>
  </div>
  <div class="widow-bottom"></div>
</div>
