
.tittle-form{
  font-size: 30px;
  color: #ffea32;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000,
    2px -2px 1px #000;
  padding: 12px;
  letter-spacing: 2px;
  word-spacing: 1px;
}

.container-general{
  background-size: contain;
  background: linear-gradient(
    to top,
    #601d1f,
    #f12e03,
    #f1c503,
    #f12e03,
    #601d1f
  );
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.widow-top{
  background-image: url('https://proyecto-dragon-ball.s3.eu-west-3.amazonaws.com/utils/widow-top.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 140px;
}
.widow-bottom{
  background-image: url('https://proyecto-dragon-ball.s3.eu-west-3.amazonaws.com/utils/nubes-bottom.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 95px;
}
.container-form{
  width: 40%;
  display: flex;
  margin: 20px 0px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}


.error {
  font-size: 17px;
  font-weight: bold;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px black;
  letter-spacing: 2px;
  word-spacing: 1px;
}

label{
  font-size: 22px;
  font-weight: bold;
  -webkit-text-fill-color: #ffea32;
  -webkit-text-stroke: 1.7px black;
  letter-spacing: 2px;
  word-spacing: 1px;
}


.btn-warrior-z{
  font-size: 15px;
  color: #ffea32;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000,
    2px -2px 1px #000;
  font-weight: bold;
  padding: 12px;
  letter-spacing: 2px;
  word-spacing: 2px;
  background: linear-gradient(
    to top,
    rgb(2, 2, 2),
    rgb(78, 78, 78),
    rgba(133, 132, 132, 0.959),
    rgb(78, 78, 78),
    rgb(2, 2, 2),
  );
}
