<app-nav-bar></app-nav-bar>
<!-- <div class="container-general">
  <div class="card-character-detail">
    <div class="character-image"><img [src]="characterDetail?.img" class="img-fluid rounded-start" alt="..."></div>
    <h5 class="card-title">{{characterDetail?.name}}</h5>
    <ul class="card-subtitle">
      <li>{{characterDetail?.abilities}}</li>
    </ul>
    <p class="card-text"><small class="text-muted">{{characterDetail?.bio}}</small></p>
    <button routerLink=".." class="btn btn-primary">Vuelve a personajes</button>
  </div>
</div> -->

<div class="container-general">
  <div class="card-character-detail">
    <div class="character-image">
      <img [src]="characterDetail?.img" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="character-info">
      <h5 class="card-title">
        {{characterDetail?.name}}
      </h5>
      <div class="card-info">
        <ul>
          <li>
            <p>Raza: {{characterDetail?.race}}</p>
          </li>
          <li>
            <p>Habilidades: {{characterDetail?.abilities}}</p>
          </li>
        </ul>
      </div>
      <div class="card-text"><small >{{characterDetail?.bio}}</small>
      </div>
      <button routerLink=".." class="btn btn-primary">Vuelve a personajes</button>
    </div>
  </div>
</div>
