<app-nav-bar></app-nav-bar>
<app-loader *ngIf="isLoading"></app-loader>
<div class="mainContainer">
  <section *ngIf="isOnMode" (click)="btnHeroes()" class="heroSection">
    <h2 class="titleCharactersHero">HEROES</h2>
  </section>
  <section *ngIf="isOnMode" (click)="btnVillanos()" class="evilSection">
<h2 class="titleCharactersEvil">VILLANOS</h2>
  </section>
  <div *ngIf="showDetailsCharacters" class="mainContainerDetail">
    <app-hero-character *ngFor="let heroe of charactersHeroes" [hero]='heroe'></app-hero-character>
    <app-evil-character *ngFor="let villano of charactersVillano" [evil]='villano' ></app-evil-character>
  </div>
</div>










